.websiteheader {
    height: 40px;
}

.WebsiteTitle {
    color:lightblue;
    font-size: x-large;
}

.background {
    background-color: #4d4d4d;
    color:lightblue;
}

.body {
    border: 1px solid white;
}
.forumpage {
    background-color: dimgray;
    color:lightblue;
    text-align: center;
    vertical-align: middle;
}
.divrow{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.rad {
    border-radius: 20px;
}
.headerbuttons {
    text-align: center;
    font-size:small;
    margin: 10px auto;
    border-radius: 5px;
}

.subtitlebuttons {
    border-radius: 50px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.searchbar {
    border-radius: 5px;
    font-size:small;
    margin-top: 10px;
    margin-bottom: 10px;
    width:70%;
    height: 50%;
    vertical-align: middle;
}

.searchbutton {
    text-align: center;
    font-size:small;
    margin: 10px;
}
.smalltext {
    text-align: center;
    font-size:8pt;
    margin: 10px;
}
.likebutton {
    text-align: center;
    font-size:small;
    margin: 10px;
}
.post {
    background-color: dimgray;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}
.post:hover {
    background-color: gray;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.createpostmodal {
    background-color: #4d4d4d;
    color:lightblue;
    vertical-align: middle;
}

#postTitle { 
    resize:none; 
}

#postDialog { 
    max-height: 500px;
}

#postnotif {
    width:40%;    
    vertical-align: middle;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
 }

 .playpausebutton {
    text-align: center;
    font-size:small;
    margin-top: 22px;
    margin-bottom: 10px;
    vertical-align: left;
}

.replysmalltext {
    font-size:7pt;
    margin-left: 8px;
}
.replyHelper{
    margin-left: 4px;
}
.singleReply {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.nav-item:hover {
    background-color: gray;
}

.active{
    background-color: gray;
}
.timestamp {
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}
#UserTitle{
    font-size:8pt;
    margin-left: 5px;
}

.postDiag {
    background-color: dimgray;
    color:lightblue;
}
#Replies {
    border-color: white;
    border-radius: 5px;
}