html, body{
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.websiteheader {
    height: 40px;
}

.WebsiteTitle {
    color:lightblue;
    font-size: x-large;
}

.background {
    background-color: #303633;
    color:lightblue;
}

.forumpage {
    background-color: dimgray;
    color:lightblue;
    text-align: left;
    margin: auto 0;
}

.panel {
    margin: 10px;
    border-radius: 15px 50px 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.panel-label {
    /* border: outset; */
    /* padding: 10px; */
    background-color:rgba(0, 0, 0, 0.1);
    text-align: center;
}

#main-title {
    background-color: dimgray;
    font-size: x-large;
}

#main {
    overflow: hidden;
    color: white;
    font-family: sans-serif;
    padding: 0px;
}

#layer-master {
    flex-grow: 1;
    margin: 0;
}

#note-control-container {
    flex-grow: 0.4;
    margin: 0;
}

#note-control {
    background-color: #7EA2AA;
}

#layers {
    background-color: #9C7A97;
}

#master {
    background-color: #888DA7;
}