html, body{
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

input[type="range"] {
    pointer-events: auto;
    flex-grow: 1;
}

.websiteheader {
    height: 40px;
}

.WebsiteTitle {
    color:lightblue;
    font-size: x-large;
}

.background {
    background-color: #303633;
    color:lightblue;
}

.forumpage {
    background-color: dimgray;
    color:lightblue;
    text-align: left;
    margin: auto 0;
}

.panel {
    margin: 10px;
    border-radius: 15px 50px 25px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.panel-label {
    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: large;
    width: 100%;
}

.layer {
    flex-basis: 0;
    flex-grow: 1;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: 25%;
}

.layer-volume {
    width: 60%;
    margin: 5%;
}

.inactive {
    background-color: rgb(162, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-info {
    min-width: 22%;
    background-color: rgba(255, 255, 255, 0.34);
    color: black;
    position: relative;
    padding-top: 15px;
}

/* .layer-label {
    background-color: rgb(84, 84, 84);
    color: white;
    margin: 5px;
    padding: 0px 10px;
    border-radius: 15px;
    pointer-events: none;
} */

.dropdown-toggle {
    opacity: 100%;
}

.dropdown-menu {
    background-color: white;
}

.sequence {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.itvl {
    flex-grow: 1;
    border-left: solid;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
}

.itvl-cursor {
    background-color: rgb(176, 145, 175);
    border-color: white;
}

.itvl-hover {
    background-color: rgb(119, 90, 123);
}

.itvl-activated {
    background-color: rgb(102, 56, 89);
}

.rem {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0;
}

#master-vol, #bpm, #play {
    margin: 10px 0;
}

#main-title {
    background-color: dimgray;
    font-size: x-large;
}

#main {
    color: white;
    overflow: hidden;
    font-family: sans-serif;
    padding: 0px;
}

#layer-master {
    flex-grow: 1;
    margin: 0;
}

#note-control {
    background-color: #7EA2AA;
    max-height: 40%;
    flex-grow: 1;
    margin: 10px 10px 0px 0px;
}

#note-dash-container {
    margin: 10px;
}

#layer-panel {
    background-color: #9C7A97;
}

#master-panel {
    margin-left: 0;
    background-color: #888DA7;
    align-items: center;
    min-height: 60%;
}

#master-dash-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#master-vol {
    width: 80%;
}

#save-post {
    margin-top: auto;
    margin-bottom: 10px
}